[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
pyarrow = "*"
scikit-learn = "==1.2.2"
fastparquet = "*"
prefect = "*"
optbinning = "*"
boto3 = "*"
mlflow = "==2.4"
scipy = "==1.10.1"
s3fs = "*"
deepdiff = "*"
yarl = "*"
fire = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"

[dev-packages]
mlflow = "2.4"
isort = "*"
black = "*"
autopep8 = "*"
pytest = "*"
seaborn = "*"
matplotlib = "*"
hyperopt = "*"
optuna = "*"
pylint = "*"
varclushi = "*"
hydra-core = "*"
requests = "*"
yarl = "*"
fire = "*"
hopsworks = "*"
python-dotenv = "*"

[requires]
python_version = "3.10"
