[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prefect = "*"
tqdm = "*"
requests = "*"
joblib = "*"
pyarrow = "*"
psycopg = "*"
psycopg-binary = "*"
evidently = "*"
pandas = "*"
numpy = "*"
scikit-learn = "==1.2.2"
optbinning = "*"

[dev-packages]
sqlalchemy = "==2.0"

[requires]
python_version = "3.10"
